[project]
	description = AppController is a pod that you can spawn in your Kubernetes cluster which will take care of your complex deployments for you.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tomasz Napierala (zen)
[access "refs/for/refs/*"]
	read = group user/Tomasz Napierala (zen)
	push = group user/Tomasz Napierala (zen)
	label-Code-Review = -2..+2 group user/Tomasz Napierala (zen)
	label-Verified = -1..+1 group user/Tomasz Napierala (zen)
	rebase = group user/Tomasz Napierala (zen)
	removeReviewer = group user/Tomasz Napierala (zen)
	submit = group user/Tomasz Napierala (zen)
[access "refs/heads/*"]
	read = group user/Tomasz Napierala (zen)
	create = group user/Tomasz Napierala (zen)
	push = +force group user/Tomasz Napierala (zen)
	pushMerge = group user/Tomasz Napierala (zen)
[access "refs/tags/*"]
	push = group user/Tomasz Napierala (zen)
	push = +force group user/Tomasz Napierala (zen)
